table {
    width: 100%;
    text-align: left;
    background: white;
}

th, td {
    padding: 15px;
}

th, tr:not(:last-child) td {
    border-bottom: 1px solid #e8e8e8;
}

i.fa {cursor: pointer;}

.half-block {
    width: calc(50% - 2px);
    display: inline-block;
    vertical-align: top;
}

.small-note {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
}

nav[role="navigation"]>div>div>span * {
    background: white;
    border-color: #e8e8e8;
}